$primary-color: #4c6613;
$secondary-color: #9ee600;
$text-color: #ffffff;
$text-muted: rgba(255, 255, 255, 0.502);
$bg-dark: #141414;
$bg-darker: #0a0a0a;
$danger-color: #ff4d4d;
$warning-color: #ffaa33;

$sidebar-width: 280px;